<div class="container">
  <h1 class="text-center center-block">Find Shortest Path for Boat</h1>
  <div class="row">
      <div class="col-md-12" style="min-height: 30px"></div>
      <div class="col-md-12">
          <messaging></messaging>
      </div>
      <div class="col-md-12" style="min-height: 30px"></div>
      <div class="col-md-12">
          <stage class="center-block"></stage>
      </div>
      <div class="col-md-12" style="min-height: 30px"></div>
      <div class="col-md-12">
          <operations></operations>
      </div>
  </div>
</div>