<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Build a grid with obstacles and find shortest path">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Boat Pathfinder</title>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/index.css') }}' />
        <link rel='stylesheet' href='{{ url_for('static', filename='libs/bootstrap 3.3.7/bootstrap.min.css') }}' />
    </head>
    <body ng-app="app" ng-strict-di ng-cloak>
        <div ui-view></div>
        <script src='{{ url_for('static', filename='libs/easeljs 0.8.2/easeljs.min.js') }}' type='text/javascript'></script>
        <script src='{{ url_for('static', filename='libs/angular 1.5.2/angular.min.js') }}' type='text/javascript'></script>
        <script src='{{ url_for('static', filename='libs/jquery 1.12.4/jquery.min.js') }}' type='text/javascript'></script>
        <script src='{{ url_for('static', filename='libs/bootstrap 3.3.7/bootstrap.min.js') }}' type='text/javascript'></script>
    <script src="js/vendor.bundle.js?d430fb79600d05593edd"></script><script src="js/app.bundle.js?d430fb79600d05593edd"></script></body>
</html>
