<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <button class="btn btn-danger center-block" type="button" ng-click="vm.resetGrid()">Reset</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary center-block" type="button" ng-click="vm.sendGrid()" ng-disabled="!vm.canSendGrid()">Send</button>
        </div>
    </div>
</div>